.app.active .content .search {
  top: 0;
  flex-direction: row;
}
.app .content {
  height: 100vh;
  margin: auto;
}
.app .content .search {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  flex-direction: column;
  top: 40%;
  display: flex;
  align-items: center;
  transition: top 0.2s ease-in-out;
}
.app .content .search .logo {
  font-weight: 900;
  font-size: 36px;
  padding: 12px;
}

.app .content .search .search__input {
  padding: 12px;
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
}

.app .content .search input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 8px 32px 8px 16px;
  background: var(--light);
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  font-size: 24px;
  outline: none;
}

.app .content .search input:focus {
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3);
}
.app .content .search button {
  background: transparent;
  position: absolute;
  right: 24px;
  border: 0;
  outline: 0;
}
.app .content .search button svg {
  fill: var(--dark);
  height: 32px;
  width: 32px;
}

.loader {
  padding: 24px;
  font-size: 24px;
}

.grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 16px;
}

@media (min-width: 350px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  }
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  border: 0;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  margin: 2rem;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  align-self: center;
  transition: all 150ms linear;
}
