:root {
  --dark: #1f1f1f;
  --light: yellow;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica, Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--light);
  color: var(--dark);
  letter-spacing: 1px;
  line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
}
